    <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus accusamus magni odio inventore vel beatae, maxime recusandae, autem architecto in quisquam ea officiis nisi dolores provident illo est voluptatibus.</p>
    </footer>
    </body>
</html>