<%- include('partials/head') %> 
<%- include('partials/navbar.ejs') %>
    <h1>The Home Page <%= 'Hello Word' .toUpperCase() %></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa,
        consequuntur maiores rerum iusto tenetur fugit perferendis dolorum,
        impedit labore adipisci voluptatem cum. Perferendis non eos iure auto
        explicabo! Dignissimos, minima.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        earum veniam sit, dolor deleniti praesentium commodi vel harum
        voluptate ullam, eaque libero velit iste illum explicabo recusandae.
        Tenetur, vero saepe!
    </p>
<%- include('partials/footer') %> 
